.caseD {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.caseB {
    border-right: 1px solid black;
}

.caseC {
    border-bottom: 1px solid black;
}

.gameDisplay {
    width: 600px;
    height: 600px;
    font-size: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.caseA,
.caseB,
.caseC,
.caseD {
    display: inline-block;
    box-sizing: border-box;
}

.player {
    background-color: red;
}